@charset "UTF-8";

* {
    /*Configuração global inicial*/
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    color: white;
    text-align: justify;
}

:root {
    /*Variáveis para armazenar cores e fontes*/
    --color-bk: #060608;
    --color-gry: #272727;
    --color-bw: #9c712f;
    --color-bw-bege: #c5a53b;
    --font-ow: "Oswald", sans-serif;
}

body {
    /*Cor de fundo do corpo cinza*/
    background-color: var(--color-gry);
}



.hdr {
    /*header com a cor preta*/
    background-color: rgba(0, 0, 0, 0.068);

}



.hdr section {
    display: flex;
    /* Coloca tudo em linha, tipo um do lado do outro */
    justify-content: center;
    /* centraliza tudo */
    align-items: center;
    /* Deixa tudo alinhado no meio na vertical, pra não ficar torto */
    position: absolute;
    /*Faz com que o header fique por cima dos outros elementos da página*/
    width: 100%;
    padding-top: 20px;
    z-index: 10;
}

#navbar {
    display: flex;
    gap: 55px;
    position: relative;
    left: 50px;
    /* empurra um pouco pra direita */
}

#navbar a:hover {
    /* Quando passar o mouse por cima dos links */
    color: var(--color-bw-bege);
    /* Muda a cor*/
    border-bottom: 0.1px solid var(--color-bw-bege);
    /* Adiciona uma borda inferior*/
    border-radius: 1px;
    /*Borda fina*/
}

.home {
    height: 100vh;
    background: url(../img/back-g.jpg);
    background-color: rgba(0, 0, 0, 0.685);
    background-blend-mode: overlay;
    display: flex;
    background-size: cover;
    /* Faz a imagem preencher toda a área */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
}

#content-home {
    display: flex;
    align-items: center;

}

#text-home {
    padding-left: 5rem;
    justify-content: center;
    padding-right: 1rem;

}

#text-home p {
    margin-top: 10px;
    max-width: 500px;
    font-size: clamp(0.9rem, 1vw, 2rem);
    padding-left: 5px;

}



#text-home h1 {
    color: var(--color-bw);
    font-size: clamp(2.5rem, 6vw, 4rem);


}


@media (max-width: 768px) {
    .hdr section {
        padding-top: 10px;
    }

    #navbar {
        gap: 25px;
        left: 0;
        align-items: center;
        margin-left: 3%;
        font-size: 0.9rem;
    }

    #text-home {
        padding-left: 1rem;
        max-width: 250px;
    }

}

































/* 
@media screen and (max-width: 768px) {
#content-home {
    position: absolute;
    top: 200px;
    left: 50px;
    font-size: 90%;
}
   #navbar {
    min-width: 20px;
    display: flex;
    gap: 30px;
    position: relative;
    left: 10px;
    /* empurra um pouco pra direita */